.filter-button-item button {
  background-color: var(--light-grey);
  border-radius: 4px;
  padding: 6px 22px;
}

.filter-button-item button:hover {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--black);
}

.portfolio-project-type {
  font-family: Roboto;
  font-size: 16px;
  line-height: 30px;
  color: var(--grey);
}
