.section-preview h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
}

.order-service-btn {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}

.info-title {
  font-size: 14px;
  line-height: 16px;
}

.info-description {
  color: var(--grey);
  line-height: 24px;
}

.section-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.employee-position {
  font-size: 16px;
  line-height: 19px;
  color: var(--grey);
}
