@import './studio.css' screen;
@import './portfolio.css' screen;

:root {
  --black: #212121;
  --dark-blue: #3f51b5;
  --blue: #2196f3;
  --grey: #757575;
  --light-grey: #f5f4fa;
  --white: #ffffff;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

button {
  font-size: 16px;
  cursor: pointer;
  border: none;
}

button:hover,
button:focus {
  background-color: var(--blue);
  color: white;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 31px;
  color: var(--black);
}

.logo span {
  color: var(--blue);
}

.menu-link {
  color: var(--black);
  font-weight: 500;
}

.menu-link:hover {
  color: var(--blue);
}

.contact-item a {
  color: var(--grey);
  font-weight: 500;
  line-height: 16px;
}

.contact-item a:hover,
.contact-item a:focus {
  color: var(--blue);
}

.footer-address {
  line-height: 24px;
  font-style: normal;
}
